.container {
    background-color: #1D1D1D;
}

.releases {
    margin-left: 56px;
    
}

.article {
    font-size: 20px;
    color: white;
    margin: 24px;
    margin-left: 50px;
    font-weight: 500;

}

.movieContainers {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;

}

.movieContainer {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
    background-image: url(https://image.tmdb.org/t/p/original/yBm3aFsxBZKQwQOCBgQmOUsFvBO.jpg);
    width: 292px;
    height: 440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.genre {
    background: rgb(0, 0, 0, 0.5);
    border-radius: 40px;
    color: #0FEFFD;
    font-size: 14px;
    font-weight: 400;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.rating {
    color: white;
    background: rgb(0, 0, 0, 0.5);
    width: 30px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    
    
}

.title {
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    margin: 0;

}