.sectionOverview {
    margin-top: 35px;
    min-height: 200px;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 100px;

}

.containerOverview {
    
    margin-top: 100px;
    padding: 0;
    border-bottom: 2px solid #FFFFFF1A;
    display: flex;
}

.btn {
    background-color: transparent;
    border-radius: 0;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    padding: 0;
    justify-content: center;
    
    
}

.anim {
    animation: border 1s linear forwards;
}


@keyframes border {
    0% {
        border-bottom: rgb(238, 192, 92, 0) 2px solid;
    }
    100% {
        border-bottom: rgb(238, 192, 92, 1) 2px solid;
    }
}
.actors {
    width: 100%;
}



.overview {
    color: hsla(0,0%,100%,.96);
    opacity: .86;
    max-width: 600px;
    font-size: 23px;
    font-weight: 400;

}

@media (max-width: 815px) {
    .sectionOverview {
        padding-left: 60px;
        padding-right: 0px;
        
    }
}


