.main {
    
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
    

}

.container {
    min-height: 100vh;
    background-color: #1D1D1D;
    padding: 10px 10px 10px 56px;
}

.btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

