

.movieContainer {
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-end;  
    min-width: 292px;
    min-height: 340px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    cursor: pointer;
    

}

.containerSpan {
    display: flex;
    justify-content: space-between;

}


.date {
    background: rgb(0, 0, 0, 0.5);
    border-radius: 40px;
    color: #0FEFFD;
    font-size: 14px;
    font-weight: 400;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.rating {
    color: white;
    background: rgb(0, 0, 0, 0.5);
    width: 120px;
    border-radius: 40px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    
    
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    margin: 0;
    background: rgb(0, 0, 0, 0.5);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    min-width: 280px;
    text-align: center;
    overflow: hidden;

}