.movieList {
    margin-left: 56px;
    position: relative;
    
}

.article {
    font-size: 20px;
    color: white;
    margin: 24px;
    margin-left: 50px;
    font-weight: 500;
    max-width: 150px;
    cursor: pointer;
    

}

a {
    text-decoration: none;
}

.movieContainers {
    width: 100%;
    min-height: 400px;
    display: flex;
    gap: 16px;
    overflow-x: scroll;

}

.movieContainers::-webkit-scrollbar {
    display: none;
}

.movieContainers {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.btnRigth {
    top: 200px;
    right: 0;
    background: rgb(0, 0, 0, 0.5);
    color: white;
    font-size: 35px;
    position: absolute;
    z-index: 5;
    width: 75px;
}

.btnLeft {
    top: 200px;
    background: rgb(0, 0, 0, 0.5);
    color: white;
    font-size: 35px;
    position: absolute;
    z-index: 5;
    width: 75px;
}

