.movieList {
    margin-left: 46px;
    position: relative;
    
}

.article {
    font-size: 20px;
    color: white;
    margin: 24px;
    margin-left: 50px;
    font-weight: 500;
    max-width: 150px;
    cursor: pointer;
    

}

a {
    text-decoration: none;
}

.movieContainers {
    width: 100%;
    min-height: 450px;
    display: flex;
    gap: 16px;
    padding: 10px;
    overflow-x: scroll;

}

.movieContainers::-webkit-scrollbar {
    display: none;
}

.movieContainers {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.btnRigth {
    top: 200px;
    right: 20px;
}

.btnLeft {
    top: 200px;
    left: 20px;
}

.btn:hover {
    animation: focus .3s linear forwards;
}

.btn {
    background: rgb(0, 0, 0, 0.5);
    color: rgb(168, 156, 156);
    font-size: 35px;
    border: none;
    border-radius: 25px;
    position: absolute;
    cursor:pointer;
    z-index: 5;
    width: 75px;
}

@keyframes focus {
    0% {
        background: rgb(0, 0, 0, 0.5);
    }

    100% {
        background: rgb(0, 0, 0, 1);
        color: white;
    }

}

