.releases {
    margin-left: 56px;
    
}

.article {
    font-size: 20px;
    color: white;
    margin: 24px;
    margin-left: 50px;
    font-weight: 500;

}

.movieContainers {
    width: 100%;
    max-height: 500px;
    display: flex;
    gap: 16px;
    overflow-y: hidden;
    overflow-x: scroll;

}

.movieContainers::-webkit-scrollbar {
    display: none;
}

.movieContainers {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

